@media all and (min-width: 500px) {
    .wrapper {
        display: flex;
    }
}

main {
    margin-top: 120px;
    margin-right: 30px;
    margin-left: 30px;
}

.Control {
    width: 280px;
}

.Chat {
    margin-left: 15px;
    width: 450px;
}

.GroupList {
    margin-left: 15px;
    width: 280px;
}

.GroupList .Groups {
    height: 500px;
    overflow-y: scroll;
}

.JoinGroup {
    margin-top: 10px;
}

#log {
    color: red;
}

#MessageError {
    color: red;
}

#Messages {
    height: 350px;
    overflow: auto;
    margin-bottom: 12px;
}

#Files {
    height: 350px;
    overflow: auto;
    margin-bottom: 12px;
}

.SendMessage {
    margin-bottom: 0px !important;
}

.Message {
    margin-bottom: 5px;
}

.content {
    padding-left: 20px;
}

.date {
    float: right;
}