@media all and (min-width: 500px) {
    .wrapper {
        display: flex;
    }
}

.container {
    margin-top: 100px;
}

.Control {
    width: 340px;
}

.Chat {
    margin-left: 30px;
    width: 340px;
}

.GroupList {
    margin-left: 30px;
    width: 250px;
}

.GroupList .Groups {
    height: 500px;
    overflow-y: scroll;
}

.JoinGroup {
    margin-top: 10px;
}

#log {
    color: red;
}

#Messages {
    height: 350px;
    overflow: auto;
    margin-bottom: 20px;
}