@media all and (min-width: 500px) {
    .wrapper {
        display: flex;
    }
}

.container {
    margin-top: 100px;
}

.Control {
    width: 350px;
}

.Chat {
    margin-left: 30px;
    width: 350px;
}

.GroupList {
    margin-left: 30px;
    width: 250px;
}

.GroupList .scroll {
    height: 500px;
    overflow: scroll;
}
